obj/
bin/
ClientBin/
*.bak
logs/
Error_Log/
*.suo
*.csproj.user
*.vcproj.*.user
*.vbproj.*.user
*.vbproj.user
*.vssscc
*.vspscc
*.*~
*.swp
Release/
Debug/
*.ncb
*.scc
_UpgradeReport_Files/
Data/
Archive/
Compiled/
/Compiled
